<nav class="subnav">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" title="зарегистрировать новую услугу" routerLink="register" routerLinkActive="active"
			 [routerLinkActiveOptions]="{exact: true}">Зарегистрировать</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" title="список услуг" routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Список</a>
		</li>
	</ul>
</nav>
<div class="content-container">
	<div class="content-area">
		<router-outlet></router-outlet>
	</div>
</div>
