<div class="content-container">
	<div class="content-area">
		<div class="card-columns">

			<div app-project-status class="card" *ngIf="(project$ | async)?.status" [status]="(project$ | async)?.status"></div>

			<div class="card">
				<div class="card-header">продукт / тайтл</div>
				<app-project-product *ngIf="!productEditMode" [productSet]="(project$ | async)?.product" (changeProduct)="setProductEdit(true)"></app-project-product>
				<app-project-product-form *ngIf="productEditMode" [productSet]="(project$ | async)?.product"
				 (closeProductForm)="setProductEdit(false)"></app-project-product-form>
			</div>

			<div app-project-job-list class="card" *ngIf="(project$ | async)?.jobs" [jobs]="(project$ | async)?.jobs"></div>
		</div>
	</div>
</div>
