<h2>{{customer?.name}}</h2>
<pre *ngIf="customer?.description" class="p1">{{customer?.description}}</pre>
<hr>
<a *ngIf="noEdit; else addFormTemplate" class="nav-link nav-text" href="javascript://" (click)="addTitle()">добавить продукт</a>
<ng-template #addFormTemplate>
	<app-titles-add [customer]="customer"></app-titles-add>
</ng-template>
<table *ngIf="customer && customer.titles.length != 0" class="table">
	<thead>
		<tr>
			<th class="left">название</th>
			<th class="left">серий</th>
			<th class="left">подробности</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let title of customer.titles">
			<td class="left">{{title.name}}</td>
			<td class="left">{{title.numberOfSeries}}</td>
			<td class="left">{{title.description}}</td>
		</tr>
	</tbody>
</table>
