tbody {
	td.id-reduced {
			font-family: monospace;
			max-width: 2ch;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	td {
		a {
			display: inline-block;
			width: 100%;
		}
	}
}
