<app-customers-details *ngIf="inDetailsMode" [customer]="customerDefinition" (close)="onBack()"
 (change)="onChange()" (delete)="onRetire()"></app-customers-details>

<button *ngIf="!titleToEdit" (click)="onNewTitle()" class="btn btn-sm btn-success">добавить продукт</button>
<app-titles-form *ngIf="titleToEdit && !titleToEdit.id" [title]="titleToEdit" (close)="onTitleFormClose()"
 (save)="onTitleFormSave()"></app-titles-form>
<section *ngIf="titles && titles.length != 0">
	<h4>продукты</h4>
	<table class="table">
		<thead>
			<tr>
				<th class="left">название</th>
				<th class="left">серий</th>
				<th class="left">подробности</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let title of titles">
				<td *ngIf="titleToEdit && title.id === titleToEdit.id; else viewTemplate" colspan="3" class="left">
					<app-titles-form [title]="titleToEdit" (close)="onTitleFormClose()" (save)="onTitleFormSave()"
					 (delete)="onTitleFormDelete()"></app-titles-form>
				</td>

				<ng-template #viewTemplate>
					<td class="left" (click)="onTitleSelect(title)">{{title.name}}</td>
					<td class="left">{{title.numberOfSeries}}</td>
					<td class="left">{{title.description}}</td>
				</ng-template>
			</tr>
		</tbody>
	</table>
</section>
