<div class="card">
	<div class="card-header">
		{{customer?.name}}
	</div>
	<div *ngIf="customer?.description" class="card-block">
		<div class="card-text">
			<pre class="p1">{{customer?.description}}</pre>
		</div>
	</div>
	<div class="card-footer">
		<clr-button-group class="btn-sm">
			<clr-button (click)="close.emit()">назад</clr-button>
			<clr-button (click)="change.emit()" class="btn-primary">изменить</clr-button>
			<clr-button (click)="delete.emit()" class="btn-danger">удалить</clr-button>
		</clr-button-group>
	</div>
</div>
