<div class="main-container">
	<header class="header header-2">
		<div class="branding">
			<div class="nav-link">
				<clr-icon shape="flame"></clr-icon>
				<span class="title">CyrKA</span>
			</div>
		</div>
		<div class="header-nav">
			<a routerLink="projects" routerLinkActive="active" class="nav-link nav-text" [routerLinkActiveOptions]="{exact: true}">projects</a>
		</div>
		<div class="header-actions">
			<span class="nav-link nav-text">v0.1.0</span>
			<a href="#" class="nav-link nav-icon">
				<clr-icon shape="cog"></clr-icon>
			</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>