<div class="main-container">
	<header class="header header-2">
		<div class="branding">
			<div class="nav-link">
				<clr-icon shape="cyrka-logo" size="24"></clr-icon>
				<span class="title">{{headerTitle}}</span>
			</div>
		</div>
		<div class="header-nav">
			<a routerLink="projects" routerLinkActive="active" class="nav-link nav-text" [routerLinkActiveOptions]="{exact: false}">проекты</a>
			<a routerLink="customers" routerLinkActive="active" class="nav-link nav-text" [routerLinkActiveOptions]="{exact: false}">заказчики</a>
			<a routerLink="jobtypes" routerLinkActive="active" class="nav-link nav-text" [routerLinkActiveOptions]="{exact: false}">услуги</a>
		</div>
		<div class="header-actions">
			<a *ngIf="isAuthenticated$ | async" href="javascript://" (click)="logout()" class="nav-link nav-text">Log Out</a>
			<a *ngIf="!(isAuthenticated$ | async)" href="javascript://" (click)="login()" class="nav-link nav-text">Log In</a>
		</div>
	</header>
	<router-outlet></router-outlet>
</div>
