<app-customer (customerItem_read$)="selectCustomer($event)">
	<h4>{{customer?.name}}</h4>
	<pre *ngIf="customer && customer.description">{{customer.description}}</pre>
	<hr>
	<section>
		<h5>продукты (тайтлы)</h5>
		<ul class="list">
			<li>
				<app-title-list-item [customerId]="customer?.id"></app-title-list-item>
			</li>
			<li *ngFor="let title of customer.titles">
				<app-title-list-item [title]="title" [customerId]="customer?.id"></app-title-list-item>
			</li>
		</ul>
	</section>
</app-customer>
