<app-customer (customerItem_read$)="selectCustomer($event)">
	<h4>{{customer?.name}}</h4>
	<pre *ngIf="customer && customer.description">{{customer.description}}</pre>
	<hr>
	<section *ngIf="customer && customer.titles && customer.titles.length != 0">
		<h5>продукты (тайтлы)</h5>
		<ul class="list">
			<li *ngFor="let title of customer.titles">{{title.name}}
				<ul class="list-unstyled">
					<li>
						<span class="p4">серий:</span>
						<span>{{title.numberOfSeries}}</span>
					</li>
					<li *ngIf="title.description">
						<pre>{{title.description}}</pre>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</app-customer>
