<form [formGroup]="form">
	<div class="card-block">
		<div class="form-group">
			<label for="customer" class="required">заказчик</label>
			<div class="select">
				<select id="customer" formControlName="customer">
					<option [ngValue]="null">Выберите заказчика</option>
					<option *ngFor="let customer of customers$ | async" [ngValue]="customer">{{ customer.name }}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="required">тайтл</label>
			<div class="select">
				<select id="title" formControlName="title">
					<option [ngValue]="null">Выберите продукт</option>
					<option *ngFor="let title of titles$ | async" [ngValue]="title">{{ title.name }}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="episodeNumber" class="required">номер эпизода</label>
			<input type="number" id="episodeNumber" formControlName="episodeNumber"><span *ngIf="numberOfSeries"> (всего эпизодов: {{numberOfSeries}})</span>
		</div>
		<div class="form-group">
			<label for="episodeDuration" class="required">хронометраж</label>
			<input type="number" id="episodeDuration" formControlName="episodeDuration">
		</div>
	</div>
	<div class="card-footer">
		<button type="submit" [disabled]="!form.valid" class="btn btn-sm btn-primary">сохранить</button>
		<button type="button" class="btn btn-sm btn-secondary">отмена</button>
	</div>
</form>
