<div class="card-header">работы</div>
<ng-template ngFor let-job [ngForOf]="jobs">
	<div app-project-job *ngIf="editId !== job.jobTypeId" class="card-block" [job]="job" (editJob)="setEditModeTo(job.jobTypeId)"></div>
	<div app-project-job-form *ngIf="editId === job.jobTypeId" class="card-block" [job]="job" (closeJobForm)="clearEditMode()"></div>
</ng-template>
<div app-project-job-form *ngIf="editId === NEW_JOB_ID" class="card-block" [job]="{}" [jobTypes$]="availableJobtypes$"
 (closeJobForm)="clearEditMode()"></div>
<div class="card-footer">
	<button [disabled]="editId === NEW_JOB_ID || (availableJobtypes$ | async)?.length === 0" class="btn btn-sm btn-link"
	 (click)="setEditModeTo(NEW_JOB_ID)">добавить работу</button>
</div>
