<div class="card-header">
	выручка и выплаты</div>
<div class="card-block">
	<div class="card-text">
		<div class="row">
			<div class="col-xs">выручка по работам:</div>
			<div class="col-xs text-success">{{project?.income}}</div>
		</div>
		<div class="row">
			<div class="col-xs">выплаты исполнителям:</div>
			<div class="col-xs text-danger">{{project?.expenses}}</div>
		</div>
	</div>
</div>

<div class="card-block">
	<div class="card-title">выплаты</div>
	<ng-container *ngIf="!paymentsEditMode; else paymentsForm">
		<a href="javascript://" class="clickable" (click)="editPayments()">
			<div class="card-text">
				<div class="row">
					<div class="col-xs">выплата редактору:</div>
					<div class="col-xs">{{project?.payments?.editorPayment || 0}}</div>
				</div>
				<div class="row">
					<div class="col-xs">выплата переводчику:</div>
					<div class="col-xs">{{project?.payments?.translatorPayment || 0}}</div>
				</div>

			</div>
		</a>
	</ng-container>
	<ng-template #paymentsForm>
		<form [formGroup]="form" (submit)="savePayments()">
			<div class="card-text">
				<div class="form-group">
					<label for="editorPayment" class="required">выплата редактору</label>
					<input type="number" id="editorPayment" formControlName="editorPayment">
				</div>
				<div class="form-group">
					<label for="translatorPayment" class="required">выплата переводчику</label>
					<input type="number" id="translatorPayment" formControlName="translatorPayment">
				</div>

				<button type="submit" [disabled]="form.invalid || form.pristine" class="btn btn-sm btn-primary">сохранить</button>
				<button type="button" class="btn btn-sm btn-secondary" (click)="viewPayments()">отмена</button>
			</div>
		</form>
	</ng-template>
</div>
