<form class="form" [formGroup]="projectForm">
	<section class="form-block">
		<label>{{projectId ? 'edit' : 'add new'}} project</label>
		<div class="form-group">
			<label for="name" class="required">Name</label>
			<label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
			 [class.invalid]="projectForm.get('name').invalid && (projectForm.get('name').dirty || projectForm.get('name').touched)">
				<input id="name" formControlName="name" type="text" placeholder="Type project name"/>
				<span class="tooltip-content">Name of project is required</span>
			</label>
		</div>
		<div class="form-group">
			<label for="type" class="required">Type</label>
			<label for="type" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
			 [class.invalid]="projectForm.get('type').invalid && (projectForm.get('type').dirty || projectForm.get('type').touched)">
				<div class="select">
					<select id="type" formControlName="type">
						<option *ngFor="let item of projectTypes" [value]="item">{{item}}</option>
					</select>
				</div>
				<span class="tooltip-content">Type of project is required</span>
			</label>
		</div>
		<div class="form-group">
			<label for="plannedFinish">Planned finish</label>
			<input id="plannedFinish" formControlName="plannedFinish" type="date" />
		</div>
		<div class="form-group">
			<label for="estimatedFinish">Estimated finish</label>
			<input id="estimatedFinish" formControlName="estimatedFinish" type="date" />
		</div>
		<button class="btn btn-primary" type="submit" (click)="onSubmit()" [disabled]="projectForm.pristine || projectForm.invalid">{{projectId ? 'Update' : 'Add'}}</button>
		<button class="btn btn-outline" type="button" (click)="onCancel()">Cancel</button>
		<button *ngIf="projectId" type="button" class="btn btn-link btn-sm" (click)="confirmDeleting = true">Delete</button>
	</section>
</form>
<clr-modal [(clrModalOpen)]="confirmDeleting" [clrModalSize]="'sm'" [clrModalClosable]="false">
	<h3 class="modal-title">Delete project</h3>
	<div class="modal-body">
		<p>Do you really want to delete this project?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline" (click)="confirmDeleting = false">No</button>
		<button type="button" class="btn btn-primary" (click)="onDelete()">Yes, delete</button>
	</div>
</clr-modal>